
<p class="text-center"><% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <%= config.author %>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <%= config.title %>
  <% } %>
      with help from <a href="http://hexo.io/" target="_blank">Hexo</a> , <a href="http://tongji.baidu.com/web/welcome/ico?s=e358945bd22b2347e568dd59e2f62845" target="_blank">百度统计</a>.    
</p>