<header class="page-header">
  <h1 class="title"><% if (config.subtitle){ %><%= config.subtitle %><% } else { %><%= config.title %><% } %></h1>
</header>
<%- partial('_partial/index', {index: true}) %>
